@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600;700&display=swap');
body {
    font-family: 'Montserrat', sans-serif;
    margin: 0;
    background-color: #FFFDF7;
}

/*атомарные классы*/
.container {
    max-width: 1200px;
    width: 100%;
    margin: 0 auto;
    box-sizing: border-box;
}
.btn {
    display: flex;
    align-items: center;
    background-color: #FFBF00;
    padding: 12px 24px;
    border-radius: 16px;
    font-weight: 400;
    font-size: 18px;
    color: #fff;
    text-decoration: none;
    letter-spacing: normal;
}
.block {
    margin-top: 200px;
    margin-bottom: 200px;
}
.title_area {
    text-align: left;
    margin-bottom: 64px;
    letter-spacing: 0.2em;
}
.title_area h2 {
    color: #212121;
    font-size: 56px;
    font-weight: bold;
}
.title_area.s1 {
    text-align: center;
}
.title_area .descr {
    color: #FFBF00;
    text-transform: uppercase;
    font-size: 18px;
    font-weight: bold;
}
.text {
    margin-bottom: 64px;
    letter-spacing: 0.2em;
    text-align: left;
}
.text h2 {
    color: #212121;
    font-size: 56px;
    font-weight: bold;
}
.text .descr {
    color: #FFBF00;
    text-transform: uppercase;
    font-size: 18px;
    font-weight: bold;
}
.text .title {
    margin: 0;
    margin-bottom: 64px;
}
.btn_application {
    display: inline-block;
    background-color: #FFBF00;
    padding: 12px 24px;
    border-radius: 16px;
    font-weight: 400;
    font-size: 18px;
    color: #fff;
    text-decoration: none;
}
/*основные стили (бэм)*/
header {
    margin-bottom: 80px;
}
header .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 16px 0;
}
header nav a {
    margin-right: 64px;
    color: #212121;
    text-decoration: none;
    font-size: 18px;
    font-weight: 600;
}
header .cart {
    text-decoration: none;
    color: #fff;
    position: relative;
}
header .count {
    /* height: 15px; */
    background-color: #FFBF00;
    width: 16;
    font-size: 12px;
    padding: 2px 6px;
    border-radius: 50%;
    position: absolute;
    right: -6px;
    bottom: -3px;
}
input {
    border-radius: 1px solid red;
    width: 792px;
    height: 96px;
    border-radius: 30px;
    border: 1px solid #2121;
}

#about .container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 15px;
}
#about .col .c1 {
    display: block;
}
#about .title {
    font-size: 72px;
    margin-bottom: 32px;
    font-weight: 600;
}
#about .descr {
    font-size: 24px;
    color: #212121;
    letter-spacing: 0.01px;
    margin-bottom: 48px;
}
#about span.s1 {
    color: #FFBF00;
}
#about a.btn.s1 {
    width: 111px;
    padding: 16px 32px;
    text-decoration: none;
}
#about .col.c1 {
    width: 600px;
}
#about .preview {
    margin-top: -90px;
}

#service .wrap {
    display: flex;
    justify-content: space-between;
}
#service .item {
    max-width: 280px;
    position: relative;
    width: 100%;
    text-align: center;
}
#service .item:before {
    content: "";
    display: block;
    width: 188px;
    height: 156px;
    background-repeat: no-repeat;
    margin: 0 auto;
}
#service .item.c1:before {
    background-image: url(images/upload/service/1.svg);
}
#service .item.c2:before {
    background-image: url(images/upload/service/2.svg);
}
#service .item.c3:before {
    background-image: url(images/upload/service/3.svg);
}
#service .item .descr {
    font-size: 18px;
    color: #807F7E;
}
#service h3.title {
    font-size: 32px;
    color: #212121;
}
#service img {
    margin-bottom: 40px;
}

#menu .row {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 15px;
}
#menu .item {
    background-color: #fff; 
    box-shadow: 3px 18px 11px 11px;
    border-radius: 32px;
}
/*#menu .row {
    display: flex;
}
#menu rect {
    display: flex;
    flex-direction: column;
}
#menu svg {
    margin-top: 60px;
    align-items: center;
}
#menu .item {
    display: block;
    justify-content: center;
    text-align: center;
}
*/

#reviews .wrap {
    display: flex;
}
#reviews .col.c1 {
    width: 390px;
    height: 432px;
    margin-right: 126px;
}
#reviews .col.c2 {
    flex-grow: 1;
}
#reviews .person {
    display: flex;
    margin-bottom: 24px;
}
#reviews img.face {
    margin-right: 16px;
}
#reviews .name {
    margin-bottom: 4px;
    font-weight: bold;
    font-size: 24px;
}
#reviews span.number {
    position: absolute;
    font-size: 14px;
}
/*#reviews .page {
    display: flex;
}*/
#reviews .testimonial-text {
    font-weight: 400;
    font-size: 18px;
    margin-bottom: 32px;
    padding: 0 60px;
    position: relative;
}
#reviews .testimonial-text:before,
#reviews .testimonial-text:after {
    content: "";
    display: block;
    width: 48px;
    height: 34px;
    position: absolute;
}
#reviews .testimonial-text:before {
    background: url(images/upload/reviews/quote_open.svg);
    top: 0;
    left: 0;
}
#reviews .testimonial-text:after {
    background: url(images/upload/reviews/quote_close.svg);
    bottom: 0;
    right: 0;
}
#reviews .page-btn {
    padding: 12px;
    background-color: #2121;
    border-radius: 16px;
    border: 0px solid white;
    width: 48px;
    height: 48px;
    margin: 0 24px; 
}
#reviews .page-images {
    display: flex;
    align-items: center;
}

#application .container {
    display: flex;
    background-color: #FFF2CC;
    padding: 100px;
    border-radius: 64px;
}
#application .page-text {
    font-weight: 400;
    font-size: 16px;
    color: #807F7E;
    text-decoration: none;
    margin-bottom: 40px;
}

#subscribe .page-text {
    font-size: 18px;
    font-weight: 400;
    color: #807F7E;
    width: 755px;
    letter-spacing: normal;
}

form p {
    display: flex;
    align-items: center;
    justify-content: center;
}
.btn_subscribe {
    width: 186px;
    height: 64px;
    background-color: #FFBF00;
    color: #fff;
    font-size: 24px;
    font-weight: 400;
    letter-spacing: normal;
    position: absolute;
    right: 567px;
}
input[type=email]::placeholder {
	font-size: 18px;
	color: #807F7E;
    letter-spacing: normal;
    font-weight: 400;
    font-family: Montserrat;
    text-align: left;
    padding-left: 32px;
}

























/*  */
#footer {
    width: 100%;
    height: 360px;
    background: #FFF2CC;
    margin: 0;
  }


.waves .descr {
    font-size: 24px;
    color: #212121;
    font-weight: bold;
}



#footer .container {
    display: flex;
}

#footer .waves {
    margin-top: 100px;
    margin-left: 24px;
    display: flex;
    flex-direction: column;
}

#footer a {
    margin-top: 8px;
}






svg {
    
}

path {
    font-size: 1px;

}